{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPMSC Honda - Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    
    <div class="login-container">
        <h2>Iniciar Sesión</h2>

        <form id="loginForm" method="post">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Ingresa Usuario" required>
            <input type="password" id="password" name="password" placeholder="Ingresa Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        
        {% for message in messages %}
        <br>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            
        </div>
            {% endfor %}
    </div>
</body>

</html>